.main {
  word-wrap: normal;
  display: inline;
}

.selected {
    color: blue;
    background: limegreen;
}

.list {
  width: 80%;
  height: 200px;
  overflow: scroll;
  display: inline-block;
}

.detail {
  color: black;
  background: lightslategrey;
  vertical-align: top;
  margin-left: 30px;
  width: 60%;
}

.contents {
  color: blue;
  font-size: 12pt;
}

.tags {
  color: deepskyblue;
  font-size: 10pt;
}

.item1 {
  display: inline-block;
  border: aqua;
  width: 10%;
}
.item2 {
  display: inline-block;
  width: 40%;
}
.item3 {
  display: inline-block;
  width: 30%;
}
