<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
<body>
    <table>
        <thead>
            <tr>
                <td>id</td>
                <td>category</td>
                <td>title</td>
            </tr>
        </thead>
        <tbody>
            <% @posts.each do |post| %>
            <tr>
                <td><%= post.id></td>
                <td><%= post.category></td>
                <td><%= post.title></td>
            </tr>
        </tbody>
    </table>
</body>
